<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">

  <title>Innolabz Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="../static/img/logo1.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!--  CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!--  Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  
    <!----verticals-->

      <div class="container verticals" data-aos="fade-up" id="vert">

        <div class="row gy-4">
          <center><h2>
            <span style="color:#183040"> Verticals</span>
          </h2></center>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="verticals-box orange text-center">
              <i><img src="../static/img/pc.png" onmouseover="this.src='../static/img/pc_ho.png'" onmouseout="this.src='../static/img/pc.png'"></i>
              <h3></h3>
              <p>In the contemporary, where competition is at every level, it is very important to make career choices with great intelligence and dexterity. A single mistake and you have to feel repentant about it for the rest of your life. Comprehending the same, we at INNOLABZ, came up with the idea of Power2Career program in which we train the graduates as per the emerging and present-day job prerequisites.</p>
              <a href="https://power2career.com/" target="_blank" class="read-more" style="padding-top: 30px;"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="verticals-box orange text-center">
              <i><img src="../static/img/ps.png"onmouseover="this.src='../static/img/ps_ho.png'" onmouseout="this.src='../static/img/ps.png'"></i>
              <h3></h3>
              <p>A platform for startups to find the right resources for their venture in terms of knowledge, network and capital. Also, utilizing them for the growth of the organiation using the shared services provided by our partner network.</p>
              
              <a href="https://power2startup.com/" target="_blank" class="read-more" style="padding-top: 175px;"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="verticals-box orange text-center">
              <i><img src="../static/img/pi.png" onmouseover="this.src='../static/img/pi_ho.png'" onmouseout="this.src='../static/img/pi.png'"></i>
              <h3></h3>
              <p>A great program for the promising young entrepreneurs, Power2Idea is basically an entrepreneurship development program that is aimed to transform the vivid dreams of the budding entrepreneurs into a living reality. With the help of well-experienced and highly adroit trainers and experts, the rising entrepreneurs are edified with the fundamentals of business and everything important that it takes to become a successful and renowned entrepreneur.</p>
              <a href="https://www.power2idea.com/" target="_blank"   class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          
        </div>

      </div><!-- End verticals Section -->
    


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter.js"></script>

  <!--  Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>